@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;

// .landing {
//     display: flex;
//     flex-direction: column;
//     &__title {
//         align-self: center;
//         @include mobile-h3;
//         @include tablet_breakpoint {
//             @include tablet-h3;
//         }
//         @include desktop_breakpoint {
//             @include desktop-h3;
//         }
//     }
//     &__image {
//         width: 50%;
//         align-self: center;
//     }
// }

.landing {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include tablet_breakpoint {
        margin-top: 2rem;
        // width: 95%;
    }

    @include desktop_breakpoint {
        margin-top: 4rem;
        // width: 85%;
    }

    &__row {

        &--upper {
            margin: 0 auto 1rem;

            @include tablet_breakpoint {
                margin: 0 auto 2rem;
            }

            @include desktop_breakpoint {
                margin: 0 auto 4rem;
            }
        }

        &--lower {
            margin: 0 auto;
        }

        &--upper,
        &--lower {
            width: 95%;
            display: flex;
            justify-content: space-between;

            @include tablet_breakpoint {
                width: 90%;
            }

            @include desktop_breakpoint {
                max-width: 80rem;
            }
        }
    }

    &__box {
        background-color: grey;
        border: 1px dotted red;
        width: 30%;
        text-align: center;
    }
}