@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;

.landing {
    // margin-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include tablet_breakpoint {
        flex-wrap: wrap;
        // margin-top: 2rem;
        margin: 0 auto;
        width: 95%;
    }

    @include desktop_breakpoint {
        // margin: 0 auto;
        // margin-top: 4rem;
        // margin: 0 auto;
        // width: 85%;
    }

    &__row {
        
        &--upper {
            display: flex;
            flex-direction: column;
            
            @include tablet_breakpoint {
                margin: 5vh auto 2rem;
                // display: block;
                flex-direction: row;
                height: 42.5vh;
            }

            @include desktop_breakpoint {
                // margin: 5vh auto;
            }
        }

        &--lower {
            display: flex;
            flex-direction: column;
            
            @include tablet_breakpoint {
                // display: block;
                margin: 0 auto 5vh;
                flex-direction: row;
                height: 42.5vh;
            }

        }

        &--upper,
        &--lower {
            width: 95%;
            display: flex;
            justify-content: space-between;

            @include tablet_breakpoint {
                width: 90%;
            }

            @include desktop_breakpoint {
                max-width: 80rem;
            }
        }
    }

    &__box {
        width: 100%;
        text-align: center;

        @include tablet_breakpoint {
            width: 30%;
        }

        @include desktop_breakpoint {

        }
    }

    &__image {
        // width: 15rem;
        // height: 100%;
        object-fit: contain;

        &--resized {
            // width: 15rem;
            // height: 100%;
            width: 100%;
            object-fit: contain;

            @include tablet_breakpoint {
                width: 12rem;
                height: 100%;
                object-fit: cover;
            }
    
            @include desktop_breakpoint {
                width: 15rem;
            }
        }
    }
}