@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;

.navbox {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include tablet_breakpoint {
        margin: 0;
    }

    &__title {
        @include mobile-h1;

        @include tablet_breakpoint {
            @include tablet-h1;
        }
    
        @include desktop_breakpoint {
            @include desktop-h1;
        }
    }

    &__menu {
        margin: 1rem 0;

        @include tablet_breakpoint {
            margin: 0;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__button {
        margin: 0.5rem 0;
        @include mobile-body;
        text-transform: uppercase;
        
        @include tablet_breakpoint {
            @include tablet-body;
        }
    
        @include desktop_breakpoint {
            @include desktop-body;
        }

        &:after,
        &:before {
            backface-visibility: hidden;
            border: 1px solid rgba(#252323, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
        }

        &:hover:after,
        &:hover:before {
            backface-visibility: hidden;
            border-color: #252323;
            transition: width 350ms ease-in-out;
            width: 1%;
        }

        &:hover:before {
            bottom: auto;
            top: 0;
            width: 1%;
        }
    }

    &__socials {
        display: flex;
        justify-content: space-evenly;
    }

    &__icon {
        // margin-top: 1rem;
        height: 1.5rem;
        
        @include tablet_breakpoint {
            // margin-top: 0;
        }
        
        @include desktop_breakpoint {
            height: 1.75rem;
        }
    }
}