@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.navbox {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include tablet_breakpoint {
        margin: 0;
    }

    &__title {
        @include mobile-h1;

        @include tablet_breakpoint {
            @include tablet-h1;
        }
    
        @include desktop_breakpoint {
            @include desktop-h1;
        }
    }

    &__menu {
        margin: 1rem 0;

        @include tablet_breakpoint {
            margin: 0;
        }
    }

    &__link {
        text-decoration: none;

        &--animated {
            text-decoration: none;
            border-bottom: 2px solid transparent;
            
            &:hover {
                border-bottom: 2px solid $basic-black;
            }
        }
    }

    &__button {
        margin: 0.5rem 0;
        @include mobile-body;
        text-transform: uppercase;
        
        @include tablet_breakpoint {
            @include tablet-body;
        }
    
        @include desktop_breakpoint {
            @include desktop-body;
        }

        &:hover {
            color: $dark-grey;
        }
    }

    &__socials {
        display: flex;
        justify-content: space-evenly;
    }

    &__icon {
        // margin-top: 1rem;
        height: 1.5rem;
        
        @include tablet_breakpoint {
            // margin-top: 0;
        }
        
        @include desktop_breakpoint {
            height: 1.75rem;
        }
    }
}