@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet_breakpoint {

    }

    @include desktop_breakpoint {

    }

    &__title {
        display: flex;
        align-items: center;
        @include mobile-h1;

        @include tablet_breakpoint {
            @include tablet-h1;
        }
    
        @include desktop_breakpoint {
            @include desktop-h1;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        width: 90%;

        @include tablet_breakpoint {
            width: 80%;
        }
    
        @include desktop_breakpoint {
            width: 50%;
        }
    }

    &__link {
        text-decoration: none;
        color: black;

        @include tablet_breakpoint {

        }
    
        @include desktop_breakpoint {
            
        }
    }

    &__button {
        @include mobile-body;

        @include tablet_breakpoint {
            @include tablet-body;
        }
    
        @include desktop_breakpoint {
            @include desktop-body;
        }
    }
}
