@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.header {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-beige;

    @include tablet_breakpoint {
        padding: 1.5rem 0;
    }

    @include desktop_breakpoint {
        padding: 2rem 0;
    }

    &__title {
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        @include mobile-h1;

        @include tablet_breakpoint {
            @include tablet-h1;
        }
    
        @include desktop_breakpoint {
            @include desktop-h1;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        width: 90%;

        @include tablet_breakpoint {
            width: 80%;
        }
    
        @include desktop_breakpoint {
            width: 50%;
        }
    }

    &__link {
        text-decoration: none;
        color: black;

        @include tablet_breakpoint {

        }
    
        @include desktop_breakpoint {
            
        }
    }

    &__button {
        @include mobile-body;
        
        @include tablet_breakpoint {
            @include tablet-body;
        }
    
        @include desktop_breakpoint {
            @include desktop-body;
        }

        &:after,
        &:before {
            backface-visibility: hidden;
            border: 1px solid rgba(#252323, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
        }

        &:hover:after,
        &:hover:before {
            backface-visibility: hidden;
            border-color: #252323;
            transition: width 350ms ease-in-out;
            width: 100%;
        }

        &:hover:before {
            bottom: auto;
            top: 0;
            width: 100%;
        }
    }
}
